.env
.env.local
.env.production
.env.*.local
frontend/.env
frontend/.env.local
frontend/.env.production
serviceAccountKey.json
backend/src/serviceAccountKey.json
# =====================
# General
# =====================
node_modules/
dist/
build/
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Backend
# =====================
/backend/node_modules/
/backend/logs/
/backend/.env
/backend/src/serviceAccountKey.json

# =====================
# Frontend
# =====================
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
